html,body{
overflow:hidden;
height:100%;
margin:0;
padding:0;
font:14px/1.8 Georgia, Arial, Simsun;
background:#CCC;
}
html{
_padding:110px 0;
}
#hd{
position:absolute;
top:0;
left:0;
width:100%;
height:100px;
background:#FFF;
}
#bd{
position:absolute;
top:110px;
right:0;
bottom:0px;/*bottom:40px;如果要用ft*/
left:0;
overflow:hidden;
width:100%;
_height:100%;
}
#side{
position:absolute;
top:0;
left:0;
bottom:0;
overflow:auto;
width:200px;
_height:100%;
background:#FFF;
}
#main{
position:absolute;
_position:static;
top:0;
right:0;
bottom:0;
left:210px;
overflow:auto;
_overflow:hidden;
_height:100%;
_margin-left:210px;
background:#FFF;
}
#content{
_overflow:auto;
_width:100%;
_height:100%;
}
/*
#ft{
position:absolute;
bottom:0;
left:0;
width:100%;
height:30px;
background:#FFF;
}*/